body {
    padding-top: 70px;
}

.hidden {
    display: none;
}

.header {
	background-color: #92E3FF;
	margin-bottom: 100px;
}

h1, h3 {
	text-align: center;
}

h3, span {
	font-style: italic;
}

#web-title {
	font-weight: bolder;
	color: black;
	font-size: 250%;
	font-family: fantasy;
}

#header-content {
	color: white;
}
.logo{
	width: 200px;
	height: 200px;
}